html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

p {  
    padding-top: 30px;
}

h1 {
    font-size: 40px;
    color: #72005F;
}

h2 {
    font-size: 20px;
    margin-bottom: -8px;
    color: #ffffff;
}

span {
    margin-left: 400px;
    color: #baa193;
    font-weight: 900;
}

.btn {
    background-color: #72005F;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.288);
}

.btn:hover {
    color: #af9c90;
    background-color: #49003dc5;
    transition-duration: 1s;
}

.container {
    margin-top: 100px;
    margin-left: 300px
}

#conselho{
    line-height: 40px;
    color: #72005f;
    font-size: 32px;
    font-weight: 900;
}